<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="pretty-json.ZPM">
    <Module>
      <Name>pretty-json</Name>
      <Version>1.0.2</Version>
      <Description>JSON to multi lines + ISJSON</Description>
      <Keywords>Terminal, COS</Keywords>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
       <Resource Name="ZPretty.MAC"/>
    </Module>
  </Document>
</Export>
